@model TeachSyncApp.Models.intermediateModels.CourseTopic

<form asp-action="CreatePost" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="courseId" value="@ViewBag.CourseId" />

    <div class="form-group">
        <label for="topicId">Select Topic</label>
        <select id="topicId" name="topicId" class="form-control">
            @foreach (var topic in ViewBag.Topics)
            {
                <option value="@topic.Value">@topic.Text</option>
            }
        </select>
    </div>
    
    

    <button type="submit" class="btn btn-primary">Connect course with topic</button>
</form>
