@model TeachSyncApp.Models.intermediateModels.CourseTopic

<h1>Details Page</h1>

<div class="card" style="width: 30rem;">
    <div class="card-body">
        <h4 class="card-title">@Html.DisplayFor(model => model.Course.Name)</h4>
        <h5 class="card-subtitle mb-2 text-body-secondary">Topics: @Html.DisplayFor(model => model.Topic.Name)</h5>
        <a class="card-link" asp-action="Edit" asp-route-id="@Model.Id">Edit Course</a>
        <a class="card-link" asp-controller="CourseTopic" asp-action="Index">Back to courses</a>
    </div>
</div>