@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TeachSync</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/TeachSyncApp.styles.css" asp-append-version="true"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <a class="navbar-brand border border-light rounded px-3 py-1 text-white fw-bold" asp-controller="Home" asp-action="Index">Teach Sync App</a>

        @if (User.IsInRole("Admin"))
        {
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="Index">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Classroom" asp-action="Index">ClassRooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Course" asp-action="Index">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Group" asp-action="Index">Groups</a>
                    </li>
                </ul>
            </div>
        }
        
        @if (User.IsInRole("Manager"))
        {
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Schedule" asp-action="Index">Schedules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Schedule" asp-action="GetTeachers">Teachers</a>
                    </li>
                </ul>
            </div>
        }
        
        @if (User.IsInRole("Teacher"))
        {
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Replacement" asp-action="Index">My Replacements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Schedule" asp-action="GetSchedulesForTeacher" asp-route-teacherId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">My schedules</a>
                    </li>
                </ul>
            </div>
        }

        <div class="d-flex align-items-center">
            <a class="btn btn-outline-light me-2 text-bg-light" >My profile</a>
            <a class="btn btn-danger" asp-controller="Account" asp-action="Logout">Logout</a>
        </div>
    }
    else
    {
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <a class="navbar-brand fw-bold text-white border border-light rounded px-3 py-1 mx-auto" asp-controller="Home" asp-action="Index">Teach Sync App</a>

            <div>
                <a class="btn bg-white" asp-controller="Account" asp-action="Login">Sign In</a>
            </div>
        </div>
    }
</nav>
<br>







<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - TeachSyncApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)


</body>
</html>